.main-container {
  border: 1px solid #556B2F;
  height: 20%;
  width: 30%;
  left: 35%;
  display: block;
  position: relative;
  z-index: 1;
}
.card{
    position: relative;
    display: inline-flex;
    width: 20%;
    height: 50%;
    top: 10px;
    left: 10px;
    margin-right: 15px;
    margin-bottom: 5px;
    border: 1px solid #00008B;
    background-color: #FAEBD7;
    opacity: 1;
}
.card::after{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 6%;
    left: 6%;
    content: "";
    background-color: #008B8B;
    z-index : -1;
}
.bandeira {
  position: relative;
  margin: 1%;
  background-color: green;
  height: 200px;
  width: 15.8%;
  left: 42.1%;
}
.losango{
    position: relative;
    height: 45%;
    width: 85%;
    top: 6%;
    left: 3%;
}
.losango::before{
    height: 0;
    width: 0;
    display: block;
    content: "";
    border-left: 130px solid transparent;
    border-right: 130px solid transparent;
    border-bottom: 90px solid yellow;
}
.losango::after{
    height: 0;
    width: 0;
    display: block;
    content: "";
    border-left: 130px solid transparent;
    border-right: 130px solid transparent;
    border-top: 90px solid yellow;
}
.circulo{
    background-color: blue;
    position: absolute;
    width: 40%;
    height: 110%;
    left: 35%;
    top: 40%;
    border-radius: 60%;
}
